**/*.dll
/CalendarBase/
/CaseService/
/ContentBuilder/
/CoreForecast/
/CrtAIEmbedded/
/CrtAnalyticsDashboard/
/CrtApolloInC360/
/CrtBase/
/CrtBaseConsts/
/CrtBfUtilities/
/CrtBulkEmailCopilot/
/CrtBulkEmailInC360/
/CrtC360InUiV2/
/CrtCalendar/
/CrtCall/
/CrtCampaignDesigner7x/
/CrtCampaignInC360/
/CrtCase7x/
/CrtCaseCopilot/
/CrtCaseKnowledgeCopilot/
/CrtCaseManagement/
/CrtCaseManagementApp/
/CrtCaseManagmentObject/
/CrtCaseService/
/CrtCaseService7x/
/CrtCasesInC360/
/CrtCasesInChats/
/CrtComponentCopilot/
/CrtContactToLeadInC360/
/CrtContentDesigner/
/CrtContract/
/CrtContractDocument/
/CrtContractVisaProvider/
/CrtCopilot/
/CrtCopilotStudio/
/CrtCore/
/CrtCoreBase/
/CrtCustomer360AI/
/CrtCustomer360App/
/CrtCustomer360Mobile/
/CrtCustomerInfoInCaseMgmt/
/CrtDataForge/
/CrtDeduplication/
/CrtDesignerTools/
/CrtDigitalAdsApp/
/CrtDigitalAdsInLeadGen/
/CrtDocument/
/CrtDocumentInOpportunity/
/CrtDynamicContent7x/
/CrtEmailDesigner/
/CrtEmailDesignerAI/
/CrtEmailDesignerInEmailMarketing/
/CrtEmailMarketingApp/
/CrtEmailMessage/
/CrtEmailSender/
/CrtEmailTemplate/
/CrtEngagementInC360/
/CrtEngagementToolsApp/
/CrtEventInC360/
/CrtEventMarketingApp/
/CrtFeatureToggling/
/CrtGeminiApiIntegraion/
/CrtGoogleAnalytics/
/CrtHTMLPageDesigner/
/CrtInvoice/
/CrtInvoiceContract/
/CrtInvoiceInC360/
/CrtInvoiceOrder/
/CrtInvoiceVisaProvider/
/CrtJunkFilter/
/CrtKnowledgeAI/
/CrtKnowledgeManagementApp/
/CrtKnowledgeManagementInCaseManagement/
/CrtKnowledgeManagementObject/
/CrtKnowledgeManagementVersions/
/CrtLandingPage/
/CrtLandingPageAnalytics/
/CrtLandingPageInEngagementToolsApp/
/CrtLead/
/CrtLeadGenLandingPage/
/CrtLeadOppMgmtApp/
/CrtLeadOppMgmtInC360/
/CrtMacrosBase/
/CrtMarketingCampaignsApp/
/CrtMarketingInC360/
/CrtMatomoConnector/
/CrtMessage/
/CrtML/
/CrtMLangContent/
/CrtMLLeadConversion/
/CrtMLLeadScoring/
/CrtMLOpportunityScoring/
/CrtMobileFreedomUIStylesFor7x/
/CrtNextStep/
/CrtNUI/
/CrtOCMInLeadOppMgmt/
/CrtOmnichannelApp/
/CrtOpportunity/
/CrtOpportunityInC360/
/CrtOpportunityInvoice/
/CrtOpportunityManagement/
/CrtOrder/
/CrtOrderContract/
/CrtOrderContractCopilot/
/CrtOrderContractInC360/
/CrtOrderContractMgmtApp/
/CrtOrderDocument/
/CrtOrderLead/
/CrtOrderVisaProvider/
/CrtPlaybook/
/CrtPortal/
/CrtProductBase/
/CrtProductCatalogue/
/CrtProductCatalogueInInvoice/
/CrtProductCatalogueInOrder/
/CrtProductivityApp/
/CrtProductivityCopilot/
/CrtProductivityMobile/
/CrtProductSpecification/
/CrtRecommendedProduct/
/CrtSalesContracts/
/CrtSalesInC360/
/CrtSecurity/
/CrtSecurity7x/
/CrtSimilarLead/
/CrtSLAInC360/
/CrtSLM/
/CrtSLM7x/
/CrtSLMITILService/
/CrtSLMITILService7x/
/CrtSmsIntegration/
/CrtSpecification/
/CrtStudioCopilot/
/CrtSupplyPayment/
/CrtTechnicalUsers/
/CrtTechUserCreatioALMIntegration/
/CrtTechUserCreatioResKitUtility/
/CrtTouchInWebForm/
/CrtTouchPoint/
/CrtTouchPointBase/
/CrtTouchPointInC360/
/CrtTouchPointInLead/
/CrtTranslation/
/CrtUIPlatform/
/CrtUIPlatform7x/
/CrtUISwitcher/
/CrtUIv2/
/CrtUserLevelSchema/
/CrtWebFarm/
/CrtWebFormBase/
/CrtWebhookServiceBase/
/CSP/
/FeatureToggling/
/Finesse/
/FolderTree/
/IntegrationV2/
/MLCaseClassification/
/MLProcessDesigner/
/MLSimilarCaseSearch/
/OAuth20/
/OmnichannelMessaging/
/OpenIdAuth/
/Opportunity/
/PivotTable/
/placeholder.txt/
/RelationshipDesigner/
/SalesMainShell/
/ServiceDesigner/
/ServiceModel/
/SsoSettings/
/SspWorkplace/
/Tracking/
/Workplace/
/XSSProtection/